<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ARealtor | About</title>
</head>
<body>
  <h1>About me</h1>
  
  <p>My name is Serhii Belei</p>
  <p>I'm running Ruby on Rails</p>
</body>
</html>

