<footer class="footer">
  <small>
<%=
    require "open-uri"

    url = "http://api.icndb.com/jokes/random"
    joke = open(url).read()

    require 'json'
    begin
      hash = JSON.parse joke
      joke_string = hash['value']['joke']
    rescue
      joke_string='-----------------------';
    end
%>
  </small>
<nav>
  <ul>
    <li><%= link_to "About", about_path %> </li>
    <li><%= link_to "Contact", contact_path %> </li>
    <li><a href="http://news.railstutorial.org/">News</li>
  </ul>
</nav>
</footer>
